In this notebook I will try and predict what kind of an incident occured based on where it took place and how long it took to resolve. 

Target: issue_reported(y)
Input vairables: Latitude, Longitude, timespan_min(x)

In [48]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [49]:
file = 'traffic_data_features.csv'

In [50]:
df = pd.read_csv(file, index_col=False)
df.head()

   issue_reported   Latitude  Longitude  day  timespan_min  hour  month
0   Crash Service  30.283797 -97.741906    2    144.066667     6      6
1  Traffic Hazard  30.339593 -97.700963    2     64.450000    10      6
2   Crash Service  30.329455 -97.638105    4     30.000000    21      4
3  Traffic Hazard  30.202806 -97.760701    4     14.183333    21      4
4   Crash Service  30.184265 -97.687339    4    149.150000    21      4

In [51]:
df.describe()

,Latitude,Longitude,day,timespan_min,hour,month
count,225445.000000,225445.000000,225445.000000,225445.000000,225445.000000,225445.000000
mean,30.301440,-97.733156,2.906261,49.665617,13.693637,6.980594
std,0.094080,0.087511,1.935056,39.684226,7.140035,3.388540
min,30.003883,-98.226709,0.000000,0.333333,0.000000,1.000000
25%,30.231715,-97.777183,1.000000,19.500000,9.000000,4.000000
50%,30.293602,-97.734450,3.000000,37.500000,15.000000,7.000000
75%,30.373691,-97.686922,5.000000,68.516667,20.000000,10.000000
max,30.798642,-97.293320,6.000000,200.000000,23.000000,12.000000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225445 entries, 0 to 225444
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   issue_reported  225445 non-null  object
 1   Latitude        225445 non-null  float64
 2   Longitude       225445 non-null  float64
 3   day             225445 non-null  int64
 4   timespan_min    225445 non-null  float64
 5   hour            225445 non-null  int64
 6   month           225445 non-null  int64
dtypes: float64(3), int64(3), object(1)
memory usage: 12.0+ MB

In [53]:
le = LabelEncoder()
df['issue_reported']=le.fit_transform(df['issue_reported'])
df.head()

   issue_reported   Latitude  Longitude  day  timespan_min  hour  month
0               2  30.283797 -97.741906    2    144.066667     6      6
1               5  30.339593 -97.700963    2     64.450000    10      6
2               2  30.329455 -97.638105    4     30.000000    21      4
3               5  30.202806 -97.760701    4     14.183333    21      4
4               2  30.184265 -97.687339    4    149.150000    21      4

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225445 entries, 0 to 225444
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   issue_reported  225445 non-null  int64
 1   Latitude        225445 non-null  float64
 2   Longitude       225445 non-null  float64
 3   day             225445 non-null  int64
 4   timespan_min    225445 non-null  float64
 5   hour            225445 non-null  int64
 6   month           225445 non-null  int64
dtypes: float64(3), int64(4)
memory usage: 12.0 MB

In [55]:
df['issue_reported'].unique()

array([2, 5, 1, 4, 0, 3, 6])

In [56]:
df['issue_reported'].value_counts()

5    92530
2    85024
0    25467
4    10818
3     5567
1     5286
6      753
Name: issue_reported, dtype: int64

Location definitions
vnw = The very northwest edge of the city that is west of I35 and north of 183
vcw = West of MOPAC but south of 183 and north of 290
vsw = The very southwest edge of the city that is west of I35 and south of Ben White

cnw = Central northwest of the city, west of I35, south of 183, east of MOPAC, north of MLK
cw = Central west of the city, west of I35, south of MLK, east of MOPAC, north of the river
csw = Central southwest of the city, west of I35, south of the river, east of MOPAC, north of Ben White

cne = Central northeast of the city, east of I35, South of 183, east of 183 and north of MLK
ce = Central east of the city, east of I35, south of MLK, east of 183, north of the river
cse = Central southeast of the city, east of I35, south of the river, east of 183, north of Ben White

vne = The very northeast edge of the city that is east of I35, east and north of 183
vce = The very east of the city, east 183, south of 290(east), north of Ben White/71
vse = The very southeast of the city, east of I35, south of Ben White/71

other = a coordinate not within a field

In [58]:
def partOfCity(lat, lon):
    if (lat < 30.21638 and lon < -97.75142):
        return "vsw"
    elif (lat < 30.21638 and lon > -97.75142):
        return "vse"
    elif (lat > 30.33926 and lon < -97.70008):
        return "vnw"
    elif (lat > 30.33926 and lon > -97.70008):
        return "vne"
    elif (lat > 30.21638 and lat < 30.33926 and lon < -97.75816):
        return "vcw"
    elif (lat > 30.21638 and lat < 30.33926 and lon > -97.66523):
        return "vce"
    elif (lat < 30.25108 and lat < 30.21638 and lon < -97.72575 and lon > -97.75816):
        return "csw"
    elif (lat < 30.25108 and lat < 30.21638 and lon > -97.72575 and lon < -97.66523):
        return "cse"
    elif (lat < 30.33926 and lat > 30.27887 and lon < -97.72575 and lon > -97.75816):
        return "cne"
    elif (lat < 30.33926 and lat > 30.27887 and lon < -97.72575 and lon > -97.75816):
        return "cnw"
    elif(lat > 30.25108 and lat < 30.27887 and lon > -97.72575 and lon < -97.66523):
        return "ce"
    elif(lat > 30.25108 and lat < 30.27887 and lon < -97.72575 and lon > -97.75816):
        return "cw"
    else:
        return "other"